* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    background-image: url('https://3.bp.blogspot.com/-lKmpCQrxm_w/T3qVkCCceeI/AAAAAAAABug/jX2doJG1vA8/s1600/Beautiful+Evening+Photographs.jpg');
}
  
#container {
    max-width: 720px;
    margin: 50px auto 0px auto;
}

.header {
    margin-bottom: 50px;
}

#survey-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

#title {
    text-align: center;
    margin-bottom: 0px;
}

#description {
    text-align: center;
    margin-top: 0px;
}

#submit {
    color: black;
}